{% extends 'customer/customer_base.html' %}
{% load custom_filters %}
{% block head %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function() {
      $("#id_date_of_birth").datepicker({
          dateFormat: "yy-mm-dd",  // Format the date as desired
          changeYear: true,        // Enable year selection
          changeMonth: true,       // Enable month selection
          yearRange: "-100:+0",    // Restrict year selection to the last 100 years
      });
  });
</script>

{% endblock %}
{% block body %}
<!-- edit_customer.html -->
<!-- edit_customer.html -->
<h2>Edit Customer Details</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label">profile photo:</label>
        <div class="col-sm-10">
            {{ form.pic|add_class:'form-control' }}
            {% if form.first_name.errors %}
                <small class="text-dark">{{ form.pic.errors|join:", " }}</small>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-10">
            {{ form.first_name|add_class:'form-control' }}
            {% if form.first_name.errors %}
                <small class="text-dark">{{ form.first_name.errors|join:", " }}</small>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-10">
            {{ form.last_name|add_class:'form-control' }}
            {% if form.last_name.errors %}
                <small class="text-dark">{{ form.last_name.errors|join:", " }}</small>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            {{ form.email|add_class:'form-control' }}
            {% if form.email.errors %}
                <small class="text-dark">{{ form.email.errors|join:", " }}</small>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.contact_number.id_for_label }}" class="col-sm-2 col-form-label">Contact Number:</label>
        <div class="col-sm-10">
            {{ form.contact_number|add_class:'form-control' }}
            {% if form.contact_number.errors %}
                <small class="text-dark">{{ form.contact_number.errors|join:", " }}</small>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.address.id_for_label }}" class="col-sm-2 col-form-label">Address:</label>
        <div class="col-sm-10">
            {{ form.address|add_class:'form-control' }}
            {% if form.address.errors %}
                <small class="text-dark">{{ form.address.errors|join:", " }}</small>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="{{ form.date_of_birth.id_for_label }}" class="col-sm-2 col-form-label">Date of Birth:</label>
        <div class="col-sm-10">
            {{ form.date_of_birth|add_class:'form-control' }}
            {% if form.date_of_birth.errors %}
                <small class="text-dark">{{ form.date_of_birth.errors|join:", " }}</small>
            {% endif %}
        </div>
    </div>
    <!-- Add more fields as needed -->

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-dark">Save Changes</button>
        </div>
    </div>
</form>


{% endblock %}