{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Home</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <!-- Custom CSS -->
  <style>
    /* Add your custom styles here */
    body, html {
      height: 100%;
    }

    .wrapper {
      display: flex;
      height: 100%;
    }

    .sidebar {
      width: 300px;
      background-color: #333333;
      color: #ffffff;
    }

    .content {
      flex-grow: 1;
      padding: 20px;
      background-color: #999999;
      color: #ffffff;
    }
  </style>

  {% block head %}{% endblock %}
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <h3>Banking Website</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'customer:login' %}">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer:signup' %}">signup</a>
        </li>
    </div>

    <div class="content">
      {% block body %}<h1>Customer Home</h1>{% endblock %}
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% block scriptcontent %}{% endblock %}
</body>
</html>
